---
/**
 * @license EUPL-1.2+
 * Copyright Gemeente Amsterdam
 */

import { Grid, Page, PageHeader, PageFooter, Heading, Column, Paragraph, Link } from '@amsterdam/design-system-react'

import '@amsterdam/design-system-assets/font/index.css'
import '@amsterdam/design-system-css/dist/index.css'
import '@amsterdam/design-system-tokens/dist/index.css'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="./favicon/favicon.ico" sizes="16x16 32x32 48x48 64x64" />
    <link rel="icon" href="./favicon/icon.svg" type="image/svg+xml" />
    <title>{title}</title>
  </head>
  <body>
    <Page>
      <PageHeader logoLink="https://www.amsterdam.nl/" />
      <main>
        <Grid paddingTop="x-large" paddingBottom="2x-large">
          <Grid.Cell span={{ narrow: 4, medium: 5, wide: 7 }} start={{ narrow: 1, medium: 2, wide: 2 }}>
            <slot />
          </Grid.Cell>
        </Grid>
      </main>
      <PageFooter>
        <PageFooter.Spotlight>
          <Grid gapVertical="large" paddingVertical="x-large">
            <Grid.Cell span={{ narrow: 3, medium: 4, wide: 4 }}>
              <Column as="section" gap="small">
                <Heading level={2} size="level-3" color="inverse">Contact</Heading>
                <Paragraph color="inverse">
                  Lukt het niet om te vinden wat u zoekt? Bel het telefoonnummer{' '}
                  <Link href="tel:+3114020" color="inverse">14 020</Link>.
                </Paragraph>
                <Paragraph color="inverse">
                  Wij zijn bereikbaar van maandag tot en met vrijdag van 08.00 tot 18.00 uur.
                </Paragraph>
              </Column>
            </Grid.Cell>
          </Grid>
        </PageFooter.Spotlight>
      </PageFooter>
    </Page>
  </body>
</html>
